.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav {
    background-color: rgb(226, 234, 236);
    padding: 5px 5px;
}
nav li{display: inline;}
nav li a{color: rgb(13, 228, 41); margin-left: 10px;}
input{border-radius: 10%}
body{
    background-color: rgb(138, 58, 58);
    color: lightblue;

}